# Rider
.idea/
*.DotSettings.user

# Build detritus
bin/
obj/

# Pricing
src/AzureVmCoster/Pricing/*.json
src/AzureVmCoster/Pricing/*.csv

# Build
artifacts/
src/AzureVmCoster/Out/*.csv

# NUKE
.nuke/
