# Rider
.idea/
*.DotSettings.user

# Build detritus
bin/
obj/

# Prices
src/AzureVmCoster/Prices/*.json
src/AzureVmCoster/Prices/*.csv

# Build
artifacts/
src/AzureVmCoster/Out/*.csv

# NUKE
.nuke/temp
